# Obligatorio
DISCORD_TOKEN=[token]

BOT_NAME=ARGOS
EMBED_FOOTER=ARGOS

COMMAND_PREFIX=#
OWNER_ID=[id]

DEBUG=true
DEBUG_GUILD_ID=[id_test_server]

COGS_FOLDER=cogs

ENABLE_MESSAGE_CONTENT_INTENT=false
ENABLE_MEMBER_INTENT=false

AUTO_SYNC_COMMANDS=true
AUTO_SYNC_GLOBAL=false

LOG_LEVEL=INFO
